@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  --primary-color: #047aed; /* var(--primary-color) */
}

/* css reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* base styles */
body {
  font-family: 'Lato', sans-serif; /* base styles */
  color: #333; /* base styles */
  line-height: 1.6; /* base styles */
}

ul {
  list-style-type: none; /* base styles */
}

a {
  text-decoration: none; /* base styles */
  color: #333; /* base styles */
}

h1, h2 {
  font-weight: 300; /* base styles */
  line-height: 1.2; /* base styles */
  margin: 10px 0; /* base styles */
}

p {
  margin: 10px 0; /* base styles */
}

img {
  width: 100%; /* base styles */
}

/* navbar */

.logo {
  font-weight: 900;
}

.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 70px;
}

.navbar ul {
  display: flex; /* sets all the individual 'ul' elements into distinct columns and so, aligns them all horizontally */
}

.navbar a { /* sets the style for all 'a' elements nested within .navbar */
  color: #fff; 
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {/* sets the style for all 'a' elements nested within .navbar on 'HOVER'*/
  border-bottom: 2px solid #fff;
;}

.navbar .flex {
  justify-content: space-between; /* 'flex' is being used as a class to justify content center. Other than when it is nested inside a navbar, then we will use space-betwen which places the elements within the container at the edges of the container and all the available space between */ 
}

/* Showcase */
.showcase {
  height: 400px;
  background-color: var(--primary-color);
  color: #fff;
  position: relative; /* so we can position things absolute within it */
}

.showcase h1 {
  font-size: 40px;
}

.showcase p {
  margin: 20px 0;
}

.showcase .grid {
  overflow: visible; /* allows the form card to push over edge of the showcase area */
  grid-template-columns: 55% auto;
  gap: 30px;
}

.showcase-form {
  position: relative;
  top: 60px;
  height: 350px;
  width: 400px;
  padding: 40px;
  z-index: 100;
  justify-self: flex-end; /* pushes form to right */
}

.showcase-form .form-control {
  margin: 30px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'] {
  border: 0;
  border-bottom: 1px solid #b4becb;
  max-width: 100%;
  padding: 3px;
  font-size: 16px;
}

.showcase-form input:focus { /* removes focus border when active state */
  outline: none;
}

.showcase::before, /* adds a skewed white colored block after and on top of showcase element */
.showcase::after {
  content: '';
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background-color: #fff;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg); /* chrome browser supprt */
  -moz-transform: skewY(-3deg); /* firefox browser supprt */
  -ms-transform: skewY(-3deg); /* ie browser supprt */
}

/* Stats */
.stats {
  padding-top: 100px;
}

.stats-heading {
  max-width: 500px;
  margin: auto;
}

.stats .grid h3 {
  font-size: 35px;
}

.stats .grid p {
  font-size: 20px;
  font-weight: bold;
}